# 允许短的函数放在同一行
AllowShortFunctionsOnASingleLine: None

# 不允许短的块放在同一行
AllowShortBlocksOnASingleLine: false

# 连续赋值时，对齐所有等号（推荐嵌入式开启，方便看寄存器配置）
AlignConsecutiveAssignments: true

# 指针和引用的对齐: Left(推荐C++使用)
PointerAlignment: Left

# 允许排序#include（有助于暴露头文件耦合问题）
SortIncludes: true

# 大括号换行微调，确保空函数也不折叠
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterControlStatement: true
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: false
  AfterStruct: true
  AfterUnion: true
  BeforeCatch: true
  BeforeElse: true
  IndentBraces: false
  SplitEmptyFunction: true # 强制拆分空函数大括号，绝不折叠

